body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    background-color: #f0f0f0;
}

.mushroom {
    position: absolute;
    font-size: 30px;
    animation: fall linear;
}

@keyframes fall {
    from { top: -50px; }
    to { top: 100%; }
}
